<div class="container" *ngIf="formSchema()">
    <h2>{{ formSchema()?.name }}</h2>
  
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div *ngFor="let question of formSchema()?.questions">
        <label>{{ question.label }}</label>
  
        <ng-container [ngSwitch]="question.type">
          <input *ngSwitchCase="'text'" type="text" [formControlName]="question.label" />
          
          <div *ngSwitchCase="'radio'">
            <label *ngFor="let option of question.options">
              <input type="radio" [formControlName]="question.label" [value]="option.value" />
              {{ option.value}}
            </label>
          </div>
  
          <div *ngSwitchCase="'checkbox'">
            <label *ngFor="let option of question.options">
              <input type="checkbox" [formControlName]="question.label" [value]="option.value" />
              {{ option.value}}
            </label>
          </div>
        </ng-container>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>

   