<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Assessment</h1>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (nav of fillerNav;let idx=$index;track idx) {
        <a mat-list-item (click)="scrollTo(idx)">{{ nav }} </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <form [formGroup]="form" (ngSubmit)="submitForm()" class="Form">
        @for (section of fillerContent.sections; let idx=$index; track idx) {
        <div [id]="'content-' + idx" class="section">
          <h5 class="section-title">&nbsp;{{ section.title }}</h5>
          @for (question of section.questions; let idx=$index; track idx) {
          <!-- <h3>{{question.label}}</h3> -->
          <div class="section-content">
            @switch (question.type) { @case ('text') {
            <mat-form-field class="InputText">
              <mat-label>{{ question.label }}</mat-label>
              <input
                type="text"
                placeholder="Enter text"
                matInput
                [formControlName]="question.questionId"
              />
              @if(form.get(question.questionId)?.invalid &&
              form.get(question.questionId)?.touched) {
              <div>
                @if(form.get(question.questionId)?.errors?.['required']) {
                <mat-error>This field is required</mat-error>
                }
              </div>
              }
            </mat-form-field>
            } @case ('date') {
            <mat-form-field class="InputText">
              <mat-label>{{ question.label }}</mat-label>
              <input
                type="date"
                placeholder="Enter date"
                matInput
                [formControlName]="question.questionId"
              />
              @if(form.get(question.questionId)?.invalid &&
              form.get(question.questionId)?.touched) {
              <div>
                @if(form.get(question.questionId)?.errors?.['required']) {
                <mat-error>This field is required</mat-error>
                }
              </div>
              }
            </mat-form-field>
            } @case ('radio') {
            <mat-label>{{ question.label }}</mat-label>
            <mat-radio-group [formControlName]="question.questionId">
              @for (option of question.options; let idx=$index; track idx) {
              <mat-radio-button [value]="option">
                {{ option }}
              </mat-radio-button>
              }
            </mat-radio-group>
            } @case ('checkbox') {
            <div>
              <mat-label>{{ question.label }}</mat-label>
              <div [formGroupName]="question.questionId">
                @for (option of question.options; let idx=$index; track idx) {
                <mat-checkbox [formControlName]="option">
                  {{ option }}
                </mat-checkbox>
                }
              </div>
            </div>
            } @case ('number') {
            <mat-form-field class="InputText">
              <mat-label>{{ question.label }}</mat-label>
              <input
                type="number"
                placeholder="Enter Number"
                matInput
                [formControlName]="question.questionId"
              />
              @if(form.get(question.questionId)?.invalid &&
              form.get(question.questionId)?.touched) {
              <div>
                @if(form.get(question.questionId)?.errors?.['required']) {
                <mat-error>This field is required</mat-error>
                } @if(form.get(question.questionId)?.errors?.['min']) {
                <mat-error>Minimum value allowed: {{ question.min }}</mat-error>
                } @if(form.get(question.questionId)?.errors?.['max']) {
                <mat-error>Maximum value allowed: {{ question.max }}</mat-error>
                }
              </div>
              }
            </mat-form-field>
            } }
          </div>
          }
        </div>
        }
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
