<div class="container">
    <h2>Form Builder</h2>
  
    <mat-form-field class="InputText">
      <mat-label>FormName</mat-label>
      <input type="text" [(ngModel)]="formName" matInput required/>
    </mat-form-field>    
    <div *ngFor="let question of questions(); let i = index" class="question-card">
      <!-- <mat-form-field>
        <mat-label>Question Type:</mat-label>
        <strong>{{ question.type }}</strong>
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Question Label:</mat-label>
        <input type="text" [value]="question.label" (input)="updateLabel(i,$event)" matInput required/>
      </mat-form-field>
      <div *ngIf="question.type === 'radio' || question.type === 'checkbox'">
        <mat-label>Options:</mat-label>
        <div *ngFor="let option of question.options; let j = index">
          <mat-form-field>
            <mat-label>OptionValue</mat-label>
          <input *ngIf="question.options" type="text" [value]="question.options[j].value" [(ngModel)]="question.options[j].value" matInput required/>
          </mat-form-field>
        </div>
        <button (click)="addOption(i)" mat-flat-button>+ Add Option</button>
      </div>
      <button (click)="removeQuestion(i)" mat-flat-button>Remove Question</button>
    </div>
  
    <button (click)="addQuestion('text')" mat-raised-button>+ Text</button>
    <button (click)="addQuestion('radio')" mat-flat-button>+ Radio</button>
    <button (click)="addQuestion('checkbox')" mat-stroked-button>+ Checkbox</button>
  
    <button (click)="submitForm()" mat-flat-button>Save Form</button>
</div>
  